wf-eng/WF/src/wf/webservice/WebService.wsdl

<?xml version="1.0" encoding="UTF-8" ?>
<wsdl:definitions
	targetNamespace="http://localhost:8080/axis/services/WfService"
	xmlns="http://schemas.xmlsoap.org/wsdl/"
	xmlns:apachesoap="http://xml.apache.org/xml-soap"
	xmlns:impl="http://localhost:8080/axis/services/WfService"
	xmlns:intf="http://localhost:8080/axis/services/WfService"
	xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
	xmlns:tns1="urn:WfService"
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema">

	<wsdl:types>
		<schema targetNamespace="urn:WfService"
			xmlns="http://www.w3.org/2001/XMLSchema">
			<import
				namespace="http://schemas.xmlsoap.org/soap/encoding/" />
			<complexType name="WorkflowId">
				<sequence>
					<element name="id" type="xsd:int" />
					<element name="intValue" nillable="true"
						type="xsd:int" />
					<element name="value" type="xsd:int" />
				</sequence>
			</complexType>
			<complexType name="User">
				<sequence>
					<element name="name" nillable="true"
						type="xsd:string" />
					<element name="password" nillable="true"
						type="xsd:string" />
				</sequence>
			</complexType>
			<complexType name="WorkItemId">
				<sequence>
					<element name="id" type="xsd:int" />
					<element name="value" type="xsd:int" />
				</sequence>
			</complexType>
			<complexType name="WorkItem">
				<sequence>
					<element name="id" nillable="true"
						type="tns1:WorkItemId" />
					<element name="payload" nillable="true"
						type="xsd:anyType" />
					<element name="payloadType" nillable="true"
						type="xsd:string" />
					<element name="properties" nillable="true"
						type="apachesoap:Map" />
					<element name="workflowId" nillable="true"
						type="tns1:WorkflowId" />
				</sequence>
			</complexType>
		</schema>
		<schema targetNamespace="http://xml.apache.org/xml-soap"
			xmlns="http://www.w3.org/2001/XMLSchema">
			<import
				namespace="http://schemas.xmlsoap.org/soap/encoding/" />
			<complexType name="Map">
				<sequence>
					<element maxOccurs="unbounded" minOccurs="0"
						name="item">
						<complexType>
							<all>
								<element name="key" type="xsd:anyType" />
								<element name="value"
									type="xsd:anyType" />
							</all>
						</complexType>
					</element>
				</sequence>
			</complexType>
		</schema>
	</wsdl:types>

	<wsdl:message name="getVariableRequest">
		<wsdl:part name="in0" type="xsd:int" />
		<wsdl:part name="in1" type="xsd:string" />
		<wsdl:part name="in2" type="tns1:User" />
	</wsdl:message>
	<wsdl:message name="getVariableResponse">
		<wsdl:part name="getVariableReturn" type="xsd:anyType" />
	</wsdl:message>
	
	<wsdl:message name="setVariableRequest">
		<wsdl:part name="in0" type="xsd:int" />
		<wsdl:part name="in1" type="xsd:string" />
		<wsdl:part name="in2" type="xsd:anyType" />
		<wsdl:part name="in3" type="tns1:User" />
	</wsdl:message>
	<wsdl:message name="setVariableResponse" />
	
	<wsdl:message name="abortWorkflowRequest">
		<wsdl:part name="in0" type="xsd:int" />
	</wsdl:message>
	<wsdl:message name="abortWorkflowResponse" />
		
	<wsdl:message name="startWorkflowRequest">
		<wsdl:part name="in0" type="xsd:string" />
		<wsdl:part name="in1" type="xsd:int" />
		<wsdl:part name="in2" type="tns1:WorkItem" />
		<wsdl:part name="in3" type="tns1:User" />
	</wsdl:message>
	<wsdl:message name="startWorkflowResponse" />
	
	

	<wsdl:portType name="WfService">
		<wsdl:operation name="getVariable"
			parameterOrder="in0 in1 in2">
			<wsdl:input message="intf:getVariableRequest"
				name="getVariableRequest" />
			<wsdl:output message="intf:getVariableResponse"
				name="getVariableResponse" />
		</wsdl:operation>
		<wsdl:operation name="setVariable"
			parameterOrder="in0 in1 in2 in3">
			<wsdl:input message="intf:setVariableRequest"
				name="setVariableRequest" />
			<wsdl:output message="intf:setVariableResponse"
				name="setVariableResponse" />
		</wsdl:operation>
		<wsdl:operation name="startWorkflow"
			parameterOrder="in0 in1 in2 in3">
			<wsdl:input message="intf:startWorkflowRequest"
				name="startWorkflowRequest" />
			<wsdl:output message="intf:startWorkflowResponse"
				name="startWorkflowResponse" />
		</wsdl:operation>
		<wsdl:operation name="abortWorkflow" parameterOrder="in0">
			<wsdl:input message="intf:abortWorkflowRequest"
				name="abortWorkflowRequest" />
			<wsdl:output message="intf:abortWorkflowResponse"
				name="abortWorkflowResponse" />
		</wsdl:operation>
	</wsdl:portType>

	<wsdl:binding name="WfServiceSoapBinding" type="intf:WfService">
		<wsdlsoap:binding style="rpc"
			transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="getVariable">
			<wsdlsoap:operation soapAction="" />
			<wsdl:input name="getVariableRequest">
				<wsdlsoap:body
					encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
					namespace="http://localhost:8080/axis/services/WfService"
					use="encoded" />
			</wsdl:input>
			<wsdl:output name="getVariableResponse">
				<wsdlsoap:body
					encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
					namespace="http://localhost:8080/axis/services/WfService"
					use="encoded" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="setVariable">
			<wsdlsoap:operation soapAction="" />
			<wsdl:input name="setVariableRequest">
				<wsdlsoap:body
					encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
					namespace="http://localhost:8080/axis/services/WfService"
					use="encoded" />
			</wsdl:input>
			<wsdl:output name="setVariableResponse">
				<wsdlsoap:body
					encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
					namespace="http://localhost:8080/axis/services/WfService"
					use="encoded" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="startWorkflow">
			<wsdlsoap:operation soapAction="" />
			<wsdl:input name="startWorkflowRequest">
				<wsdlsoap:body
					encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
					namespace="http://localhost:8080/axis/services/WfService"
					use="encoded" />
			</wsdl:input>
			<wsdl:output name="startWorkflowResponse">
				<wsdlsoap:body
					encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
					namespace="http://localhost:8080/axis/services/WfService"
					use="encoded" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="abortWorkflow">
			<wsdlsoap:operation soapAction="" />
			<wsdl:input name="abortWorkflowRequest">
				<wsdlsoap:body
					encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
					namespace="http://localhost:8080/axis/services/WfService"
					use="encoded" />
			</wsdl:input>
			<wsdl:output name="abortWorkflowResponse">
				<wsdlsoap:body
					encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
					namespace="http://localhost:8080/axis/services/WfService"
					use="encoded" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>

	<wsdl:service name="WfServiceService">
		<wsdl:port binding="intf:WfServiceSoapBinding"
			name="WfService">
			<wsdlsoap:address
				location="http://localhost:8080/axis/services/WfService" />
		</wsdl:port>
	</wsdl:service>

</wsdl:definitions>